
:root {
    --shadow-color: #1c1e22;
    --main-color: #ff014f;
    --text-color: #9ca3af;
    --background-color: #202327;
    --tw-bg-opacity: 0.4;
    --tw-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  }

.container{
	width: 100%;
	padding: 35px 10%;
}
.container{
	padding-right: calc(10% - 30px);
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.col header.title{
	font-family: Montserrat, sans-serif;
	color:#ff014f;
	padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 20px;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
    border-radius: 7px;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
    box-shadow: 10px 10px 19px var(--shadow-color), -10px -10px 19px #262a2e;
}
.col .contents .box:hover{
    box-shadow: 10px 10px 19px var(--shadow-color), -10px -10px 19px #262a2e;
    border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #ff014f;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color:#ff014f;
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	color: #9ca3af;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}
.box h5{
	padding: 10px 0px 6px;
	font-family: Montserrat, sans-serif;
	color: #9ca3af;
    font-weight: 400;
}
.box p{
    margin-top: 3px;
	line-height: 1.2;
	color: #9ca3af;
	font-size: 16px;
    font-family: Poppins, sans-serif;
}

.box h3:hover{
    color: rgb(255, 255, 194);
}

.box h5:hover{
    color: rgb(255, 255, 194);
}

.box p:hover{
    color: white;
    box-shadow: var(--tw-shadow);
}

@media(max-width: 768px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
}